<h1>Grath-generate</h1>

<%= image_tag "#{@acc}.png" %>
<%#<%= @data.gen_pixel_data(@acc) %>
<%= button_to 'ダウンロード', download_path, method: :get %>
<%= seq = @entry.get_seq(@acc) %>
<%= @entry.cacl_cood(seq) %>
<h3><%= link_to '戻る', root_path %></h3>