<h1>Organism一覧</h1>

<h4><%= link_to 'トップページ', root_path %></h4>

<table border="1">
  <thead>
    <tr>
      <th>アクセッション番号</th>
      <th>生物種名</th>
      <th>グループ</th>
    </tr>
  </thead>

  <tbody>
    <% @organisms.each do |organism| %>
      <tr>
        <td><%= organism.replicon %></td>
        <td><%= organism.name %></td>
        <td><%= organism.group %></td>
      </tr>
    <% end %>
  </tbody>

  <%= form_tag import_organisms_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "インポート" %>
  <% end %>

</table>


