<header>
  <h1 class="top">塩基配列のグラフ画像表示</h1>
  <p class="kazu">作成する際のベクトルの割り当ては下図になります</p>
  <div class="atgc_vec">
    <%= image_tag '/atgc.jpg', alt: "atgcベクトル画像", size: "200x200", class: :test %>
  </div>
</header>

<%= form_with url: create_path, local: true ,class: "forms" do |form| %><%#local true にしないとajax通信になる(Rails 5.1〜6.0の仕様)%>
  <%= form.text_field :acc %>
  <%= form.submit "作成" %>
<% end %>

<%= link_to '登録されている生物種',database_show_path %>