<header>
  <h1 class="top">塩基配列のグラフ画像表示</h1>
  <p class="forms">作成する際のベクトルの割り当ては下図になります</p>
  <div class = "forms">
    <figure class="img_box">
      <%= image_tag "/atgc.jpg", alt: "atgcのベクトルの画像", size: "200x200" %>
      <figcaption>atgcベクトル割り当て</figcaption>
    </figure>

    <figure class="img_box">
      <%= image_tag "/atgc_tmp_graph.png", alt: "グラフ画像例", size: "200x200" %>
      <figcaption>グラフ画像例</figcaption>
    </figure>
  </div>
</header>

<%= form_with url: create_path, local: true ,class: "forms" do |form| %><%#local true にしないとajax通信になる(Rails 5.1〜6.0の仕様)%>
  <%= form.text_field :acc %>
  <%= form.submit "作成" %>
<% end %>

<p class="forms">機械学習を用いた生物種の予測</p>

<%= form_with url: predict_path, local: true ,class: "forms" do |form| %><%#local true にしないとajax通信になる(Rails 5.1〜6.0の仕様)%>
  <%= form.text_field :acc %>
  <%= form.submit "予測" %>
<% end %>

<%= link_to '登録されている生物種',database_show_path %>