<% content_for :title, "DNAグラフ画像を用いた生物種分類" %>
<header>
</header>

<body>
<h1>ミトコンドリアゲノムのグラフ表示画像を入力とする機械学習ネットワーク</h1>
<div class="container">
  <div class="block">
    <h2 class="top">塩基配列のグラフ画像表示</h2>
    <p class="forms">作成する際のベクトルの割り当ては下図になります</p>
    
    <div class = "forms">
      <figure class="img_box">
        <%= image_tag "/atgc.jpg", alt: "atgcのベクトルの画像", size: "200x200" %>
        <figcaption>atgcベクトル割り当て</figcaption>
      </figure>

      <figure class="img_box">
        <%= image_tag "/atgc_tmp_graph.png", alt: "グラフ画像例", size: "200x200" %>
        <figcaption>例</figcaption>
      </figure>
    </div>

    <%= form_with url: create_path, local: true ,class: "forms" do |form| %><%#local true にしないとajax通信になる(Rails 5.1〜6.0の仕様)%>
      <%= form.text_field :acc %>
      <%= form.submit "作成" %>
    <% end %>
  </div>

  <div class="block">
    <h2 class="top">機械学習を用いた生物種の予測</h2>
    <p class="forms">精度としては89%程度</p>
    <p class="forms">※多少時間がかかる可能性あり</p>

    <%= form_with url: predict_path, local: true ,class: "forms" do |form| %>
      <%= form.text_field :acc %>
      <%= form.submit "予測" %>
    <% end %>
  </div>

</div>
<%# <%= link_to '登録されている生物種',root_path, class: "btn btn-primary" %> %>
</body>

<%= form_with url: root_path, method: "get", local: true ,class: "forms" do |form| %><%#local true にしないとajax通信になる(Rails 5.1〜6.0の仕様)%>
  <%= form.text_field :search %>
  <%= form.submit "検索" %>
<% end %>

<%= paginate @organisms %>
<table border="1">
  <thead>
    <tr>
      <th class="forms">アクセッション番号</th>
      <th class="forms">生物種名</th>
      <th class="forms">グループ</th>
    </tr>
  </thead>

  <tbody class="forms">
    <% @organisms.each do |organism| %>
      <tr>
        <td><%= organism.replicon %></td>
        <td class="organism_name"><%= organism.name %></td>
        <td><%= organism.classes %></td>
      </tr>
    <% end %>
  </tbody>
  <%# <%= form_tag import_organisms_path, multipart: true do %>
    <%# <%= file_field_tag :file %>
    <%# <%= submit_tag "インポート" %>
  <%# <% end %>

</table>
<%= paginate @organisms, class: "pagnate" %>